<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Login</h1>
  <!-- <form action="/" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="name" required>
        <input type="submit" value="Login">
    </form> -->
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</body>

</html>